body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.hero{
    width: 100%;
    height: 100vh;
    background: url('bg1.png');
    background-size: cover;
    }   
.name h1{
    color: white;
    margin-left: 4%;
    margin-top: 0%;
}


/*NAVIGATION BAR*/

.sidebar {
    height: 100%;
    width: 250px; /* Width of the sidebar */
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px; /* Hidden sidebar by default */
    background-color: whitesmoke;
    transition: 0.3s; 
    padding-top: 60px;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #8000ff;
}

.main-content {
    transition: margin-left 0.3s; 
    padding: 16px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    margin-top: -5.2%;
}
/*END OF NAVIGATION*/
/*Register PAGE*/


.register a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: absolute;
    top: 1.5%;
    right: 5%;
    background:  #8000ff;
    border-radius: 8px;
    transition: 0.4s;
    }
    .register a:hover{
    background: white;
    border: 3px solid  #8000ff;
    color: black;
    }

    .register-form {
 
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      
      .register-form label {
        display: block;
        margin-bottom: 10px;
      }
      
      .register-form input, .register-form select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
      }
      
      .register-form button[type="submit"] {
        background-color: #8000ff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .register-form button[type="submit"]:hover {
        background-color: #8000ff;
        transform: scale(0.90);
        
      }
   /*END OF REGISTER PAGE*/

/*sign up*/

.outer-box{
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-size: cover;
   
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    background-color: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
}

.signup-header h1{
    font-size: 2.5rem;
    color: black;
}

.signup-header p{
    font-size: 0.8rem;
    color: #555;
}

.signup-body{
    margin: 20px 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
}

.signup-body p input[type="submit"]{
    background-color: #8000ff;
    border: none;
    color: white;
    cursor: pointer;
}

.signup-body p input[type="submit"]:hover{
    background-color: #8000ff;
}

.signup-footer p{
    color: #393535;
    text-align: center;
}

.signup-footer p a{
    color: #8000ff;
}
/*END OF SIGN UP*/


/*LOGIN PAGE*/

.login-outer-box{
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-size: cover;
}

.login-inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    background-color: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
}

.login-header h1{
    font-size: 2.5rem;
    color: black;
}

.login-header p{
    font-size: 0.8rem;
    color: #555;
}

.login-body{
    margin: 20px 0;
}

.login-body p{
    margin: 10px 0;
}

.login-body p label{
    display: block;
}

.login-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
}

.login-body p input[type="submit"]{
    background-color: #8000ff;
    border: none;
    color: white;
    cursor: pointer;
}

.login-body p input[type="submit"]:hover{
    background-color: #8000ff;
}

.login-footer p{
    color: #393535;
    text-align: center;
}

.login-footer p a{
    color: #2172a8;
    font-size: 1em;
}

/*END OF LOGIN*/

/*FORGET PASSWORD PAGE*/

.forget-outer-box{
    width: 100vw;
    height: 100vh;
    background-color: white;
    background-size: cover;
}

.forget-inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    background-color: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px black;
}

.forget-header h1{
    font-size: 2.5rem;
    color: black;
}

.forget-header p{
    font-size: 0.8rem;
    color: #555;
}

.forget-body{
    margin: 20px 0;
}

.forget-body p{
    margin: 10px 0;
}

.forget-body p label{
    display: block;
}

.forget-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
}

.forget-body p input[type="submit"]{
    background-color: #8000ff;
    border: none;
    color: white;
    cursor: pointer;
}

.forget-body p input[type="submit"]:hover{
    background-color: #8000ff;
}

.forget-footer p{
    color: #393535;
    text-align: center;
}

.forget-footer p a{
    color: #8000ff;
    font-size: 1em;
}
/*END OF FORGET PASSWORD PAGE*/



/*SEARCH BAR*/

.search-container {
    width: 400px;
    justify-content: center;
    margin-left: 50%;
    margin-top: -5%;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

/*END OF SEARCH BAR*/


.hero-img{
    max-width: 100%;
    width: 100vh;
    position: absolute;
    top: 59%;
    left: 85%; 
    transform: translate(-50%,-50%);
}

.hero-img img{
    max-width: 100%;
    max-height: 100%;
    width: 200vh;
    height: 80vh;
    left: 140%;
    }
.img{
        float: right;
                
    }


/*text PAGE*/

        .outer-headings {
            height: 100vh;
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-top: 15%;
            margin-left: 10%;
          }
          
          .outer-headings h1 {
            font-size: 4em;
            color: white;
           
          }
          
          .inner-headings {
            border: 0px solid #ddd;
            height: 50px;
            line-height: 50px;
            font-size: 45px;
            overflow: hidden;
          }
          
          .inner-headings span {
            position: relative;
            color: wheat;
            animation: animation 10s ease infinite;
          }
          
          @keyframes animation {
            0%,
            100% {
              top: 0;
            }
            20% {
              top: 0;
            }
            25% {
              top: -50px;
            }
            45% {
              top: -50px;
            }
            50% {
              top: -100px;
            }
            70% {
              top: -100px;
            }
            75% {
              top: -150px;
            }
            95% {
              top: -150px;
            }
          }
    /*END OF TEXT PAGE


    /*upload PAGE*/
    
    .up-container {
        text-align: center;
    }
    
    form {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    label {
        display: block;
        margin-top: 10px;
    }
    
    input, textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    button {
        margin-top: 10px;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        background-color: #8000ff;
        color: white;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #8000ff;
    }
    
    button#closeForm {
        background-color: #dc3545;
    }
    
    button#closeForm:hover {
        background-color: #c82333;
    }

    /*END OF UPLOAD PAGE*/


    /*ABOUT US*/
    .about-img{
            width: 100%;
            height: 75vh;
            background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('about.jpeg');
            background-size: 100% 100%;
    }
    .about{
        margin-left: 2%;
        margin-right: 2%;
        letter-spacing: 1px;
        line-height: 30px;
    }

    .about h1{
        color: black;
        border-bottom: 2px solid #8000ff;
        width: 15%;
    }
 
    .team{
        margin-left: 2%;
        margin-right: 2%;
        letter-spacing: 1px;
        line-height: 30px;
    }

    /*END OF ABOUT US PAGE*/

/*projects*/

.page2 h1{
    margin-top: 23%;
    text-align: center;
    text-transform: uppercase;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4%;
   }
   .pro_card{
    height: 10%;
    width: 10%;
    margin: 20px;
    margin-top: 80px;
    grid-row-gap: 1px;  
    background-color: white;
    background-size: 100% 100%;
               
   }
   .pro_card img{
    width: 100%;
   }

   div .pro_card:hover{
    transform: scale(0.9);
   }

   .page3{
    width: 100%;
    height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('z.jpeg');
    background-size: 100% 100%;
   }


/*footer*/



.footer-container{
    margin: auto;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('7.jpg');
    background-size: 100% 100%;
    position: relative;
    max-width: 2200px;
    }
    .row{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 20%;
    padding: 0 10px;
    height: 20%;
    color: white;
    }
    ul{
    list-style: disc;
    font-size: 1.3em;
    }
    .links i{
        color: white;
    }
    .footer{
    padding: 40px 0px;
    width: 100%;
    height: 25%;
    }
    .row h2{
    font-size: 1.5em;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    }
    .row h2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid white;
    transition: 0.4s linear;
    height: 40px;
    }
    .row h2:hover:before{
    width: 500%;
    }
    
    .row ul li:not(:last-child){
    margin-bottom: 10px;
    }
    .row ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    }
    .row ul li a:hover{
    color: white;
    padding-left: 10px;
    }
    .Contact h2{
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    }
    .Contact h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    margin: auto;
    }
    
    .row .social-icons img{
    border-radius: 50%;
    margin-top: 2%;
    
    }
    .row .social-icons img:hover{
    transform: scale(1.20);
    }
    
    /*end of footer*/


    /*RESPONSIVE STYLE*/

    
    /* Extra Small Devices (phones, less than 480px) */
 @media (max-width: 480px) {  
    .name h1{
        margin-left: 7%;
        font-weight: 2em;
    }
    
    .openbtn {
        padding: 10px 15px;
        position: absolute;
        margin-top: -16%;
        margin-left: -5%;
    }
    .register a{
        padding: 8px 18px;
        font-size: 18px;
        }
    .search-container {
         width: 300px;
         margin-left: 18%;
         margin-top: 10%;
        }
          
    .outer-headings h1 {
         font-size: 2.5em;
        }
          
    .inner-headings {
         font-size: 30px;
        }
    
            
    .hero-img{
         display: none;
        }

    .page2 h1{
         margin-top: 70%;
         text-align: center;
         text-transform: uppercase;
         font-size: 1.5em;
        }
    .pro_card{
         height: 25%;
         width: 30%;
        }
    .row .social-icons img{
         height: 40%;
         width: 20%;
     }

     .register-form {
 
        margin: 0px auto;
        padding: 10px;
        border-radius: 0px;
      }
 }

    /* Small Devices (tablets, 481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
    .name h1{
        margin-left: 7%;
        font-size: 50px;
    }
    
    .openbtn {
        padding: 10px 15px;
        position: absolute;
        margin-top: -13%;
        margin-left: 0%;
    }
    .register a{
        padding: 10px 20px;
        font-size: 25px;
        }
    .search-container {
         width: 450px;
         margin-left: 18%;
         margin-top: 10%;
        }
    input{
         font-size: 20px;
        }
    input ::placeholder{
         padding: 20px;
        }

    .outer-headings{
        margin-top: 25%;
    }
    .outer-headings h1 {
         font-size: 2.8em;
        }
             
    .inner-headings {
         font-size: 35px;
        }
        
        
    .hero-img{
        margin-left: -10%;
        }

    .page2 h1{
         margin-top: -45%;
         text-align: center;
         text-transform: uppercase;
         font-size: 1.5em;
        }
    .pro_card{
         height: 25%;
         width: 30%;
        }
 
    .register-form h2{
        font-size: 35px;
    }
     .register-form {
 
        margin: 0px auto;
        padding: 10px;
        border-radius: 0px;
      }
    .register-form label {
        margin-bottom: 10px;
        font-size: 20px;
      }
      
    .register-form input, .register-form select {
        padding: 20px;
      }
      
    .register-form input, .register-form select ::placeholder{
        font-size: 20px;
      }
    .up-container {
        font-size: 20px;
    }
    label {
       font-size: 20px;
    }
    
    button {
        padding: 20px 25px;
        font-size: 20px;
    }
    
    .inner-box{
        width: 550px;
        height: 60vh;
    }
    
    .signup-body p input{
        width: 90%;
        padding: 20px;
        font-size: 1.5rem;
    }
    .signup-body p label{
        font-size: 1.6em;
    }
    .signup-body p input[type="submit"]{
        font-size: 2em;
        width: 100%;
    }
    .signup-footer p{
        font-size: 25px;
    }
    
    .signup-footer p a{
        font-size: 25px;
    }

    
    .login-inner-box{
        width: 500px;
        height: 60vh;
    }
    
    .login-body p{
        margin: 40px 0;
    }
    .login-body p label{
        font-size: 1.6em;
    }
    
    .login-body p input{
        width: 90%;
        padding: 20px;
        font-size: 1.5rem;
    }
    
    .login-body p input[type="submit"]{
        width: 100%;
        font-size: 1.7em;
    }
    
    .login-footer p a{
        color: #2172a8;
        font-size: 23px;
    }
    
    
    .forget-inner-box{
        width: 500px;
        height: 60vh;
    }
    
    .forget-body{
        margin: 30px 0;
    }
    
    .forget-body p{
        margin: 20px 0;
    }
    
    .forget-body p label{
       font-size: 1.6em;
    }
    
    .forget-body p input{
        width: 90%;
        padding: 20px;
        font-size: 1.5rem;
    }
    
    .forget-body p input[type="submit"]{
      width: 100%;
    }
    
       
    .links i{
        font-size: 19px;
    }
    .row ul li a{
        font-size: 19px;
    }
    .row .social-icons img{
        height: 40%;
        width: 20%;
    }

 }

/* Medium Devices (tablets, 769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
        .name h1{
            margin-left: 8%;
            font-size: 55px;
        }
        
        .openbtn {
            padding: 15px 20px;
            margin-top: -10%;
            margin-left: 0%;
        }
        .register a{
            padding: 10px 20px;
            font-size: 25px;
            }
        .search-container {
             width: 550px;
             margin-left: 18%;
             margin-top: 10%;
            }
        input{
             font-size: 25px;
            }
        input ::placeholder{
             padding: 20px;
            }
    
        .outer-headings{
            margin-top: 20%;
        }
        .outer-headings h1 {
             font-size: 3.5em;
            }
                 
        .inner-headings {
             font-size: 45px;
            }
            
            
        .hero-img{
            margin-left: -10%;
            }
    
        .page2 h1{
             margin-top: -35%;
             text-align: center;
             text-transform: uppercase;
             font-size: 1.5em;
            }
        .pro_card{
             height: 23%;
             width: 30%;
            }
     
        .register-form h2{
            font-size: 35px;
        }
         .register-form {
     
            margin: 0px auto;
            padding: 10px;
            border-radius: 0px;
          }
        .register-form label {
            margin-bottom: 10px;
            font-size: 20px;
          }
          
        .register-form input, .register-form select {
            padding: 20px;
          }
          
        .register-form input, .register-form select ::placeholder{
            font-size: 20px;
          }
        .up-container {
            font-size: 20px;
        }
        label {
           font-size: 20px;
        }
        
        button {
            padding: 20px 25px;
            font-size: 20px;
        }
        
        .inner-box{
            width: 550px;
            height: 60vh;
        }
        
        .signup-body p input{
            width: 90%;
            padding: 20px;
            font-size: 1.5rem;
        }
        .signup-body p label{
            font-size: 1.6em;
        }
        .signup-body p input[type="submit"]{
            font-size: 2em;
            width: 100%;
        }
        .signup-footer p{
            font-size: 25px;
        }
        
        .signup-footer p a{
            font-size: 25px;
        }
    
        
        .login-inner-box{
            width: 500px;
            height: 60vh;
        }
        
        .login-body p{
            margin: 40px 0;
        }
        .login-body p label{
            font-size: 1.6em;
        }
        
        .login-body p input{
            width: 90%;
            padding: 20px;
            font-size: 1.5rem;
        }
        
        .login-body p input[type="submit"]{
            width: 100%;
            font-size: 1.7em;
        }
        
        .login-footer p a{
            color: #2172a8;
            font-size: 23px;
        }
        
        
        .forget-inner-box{
            width: 500px;
            height: 60vh;
        }
        
        .forget-body{
            margin: 30px 0;
        }
        
        .forget-body p{
            margin: 20px 0;
        }
        
        .forget-body p label{
           font-size: 1.6em;
        }
        
        .forget-body p input{
            width: 90%;
            padding: 20px;
            font-size: 1.5rem;
        }
        
        .forget-body p input[type="submit"]{
          width: 100%;
        }
        
        form {
            padding: 30px;
        }
        
        label {
            font-size: 1.3em;
        }
        
        button {
            padding: 13px 18px;
            font-size: 1.3em;
        }
    
        .about h1{
            width: 20%;
        }
        .about h2{
            font-size: 1.8em;
        }
        .about p{
            font-size: 23px;
        }
        .team p{
            font-size: 23px;

        }
           
        .links i{
            font-size: 19px;
        }
        .row ul li a{
            font-size: 19px;
        }
        .row .social-icons img{
            height: 40%;
            width: 20%;
        }
    
     }
    


/* Large Devices (desktops, 1025px to 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
    .name h1{
        margin-left: 8%;
        font-size: 75px;
    }
    
    .openbtn {
        padding: 15px 20px;
        margin-top: -10%;
        margin-left: 0%;
    }
    .sidebar a {
        font-size: 40px;
    }

    .register a{
        padding: 13px 23px;
        font-size: 40px;
        }
    .search-container {
         width: 850px;
         margin-left: 18%;
         margin-top: 8%;
        }
    input{
         font-size: 40px;
        }
    input ::placeholder{
         padding: 20px;
        }

    .outer-headings{
        margin-top: 20%;
    }
    .outer-headings h1 {
         font-size: 5.5em;
         line-height: 130px;
        }
             
    .inner-headings {
         font-size: 65px;
        }
            
    .hero-img{
        margin-left: -10%;
        }

    .page2 h1{
         margin-top: -35%;
         text-align: center;
         text-transform: uppercase;
         font-size: 3em;
        }
    .pro_card{
         height: 23%;
         width: 30%;
        }
 
    .register-form h2{
        font-size: 50px;
    }
     .register-form {
 
        margin: 0px auto;
        padding: 10px;
        border-radius: 0px;
      }
    .register-form label {
        margin-bottom: 10px;
        font-size: 30px;
      }
      
    .register-form input, .register-form select {
        padding: 25px;
        width: 100%;
      }
      
    .register-form input, .register-form select ::placeholder{
        font-size: 25px;
      }
      .register-form button[type="submit"] {
        padding: 15px 25px;
        font-size: 30px;
    }
    .up-container {
        font-size: 25px;
    }
    label {
       font-size: 30px;
    }
    
    button {
        padding: 20px 25px;
        font-size: 25px;
    }

    .inner-box{
        width: 850px;
        height: 55vh;
    }
    
    .signup-header{
        font-size: 3rem;
    }
    .signup-body p input{
        width: 90%;
        padding: 20px;
        font-size: 2rem;
    }
    .signup-body p label{
        font-size: 2.5em;
    }
    .signup-body p input[type="submit"]{
        font-size: 2.5em;
        width: 100%;
    }
    .signup-footer p{
        font-size: 30px;
    }
    
    .signup-footer p a{
        font-size: 30px;
    }

    
    .login-inner-box{
        width: 850px;
        height: 55vh;
    }
    .login-header{
        font-size: 3rem;
    }
    
    .login-body p{
        margin: 40px 0;
    }
    .login-body p label{
        font-size: 2.5em;
    }
    
    .login-body p input{
        width: 90%;
        padding: 20px;
        font-size: 2rem;
    }
    
    .login-body p input[type="submit"]{
        width: 100%;
        font-size: 2.5em;
    }
    
    .login-footer p a{
        color: #2172a8;
        font-size: 30px;
    }
    
    
    .forget-inner-box{
        width: 850px;
        height: 55vh;
    }
    
    .forget-body{
        margin: 30px 0;
    }
    
    .forget-body p{
        margin: 20px 0;
    }
    
    .forget-body p label{
       font-size: 2.3em;
    }
    
    .forget-body p input{
        width: 90%;
        padding: 20px;
        font-size: 2rem;
    }
    
    .forget-body p input[type="submit"]{
      width: 100%;
    }

    /*upload page*/

    form {
        padding: 30px;
    }
    
    label {
        font-size: 1.3em;
    }
    
    button {
        padding: 13px 18px;
        font-size: 1.3em;
    }

    /*about page*/
    .about h1{
        width: 20%;
        font-size: 40px;
    }
    .about h2{
        font-size: 2.5em;
    }
    .about p{
        font-size: 30px;
        line-height: 38px;
    }
    .team p{
        font-size: 30px;

    }
    .team ul li{
        font-size: 30px;
        line-height: 38px;
    }
       
    .links i{
        font-size: 28px;
    }
    .row h2{
        font-size: 40px;
    }
    .row ul li a{
        font-size: 30px;
    }
    .row .social-icons img{
        height: 35%;
        width: 15%;
    }
}

/* Extra Large Devices (large desktops, 1441px and up) */
@media (min-width: 1441px) {
    .register a{
        padding: 10px 20px;
        font-size: 20px;
        }
    .search-container {
         width: 550px;
         justify-content: center;
         margin-left: 50%;
         margin-top: -5%;
     }
     
     input {
         width: 90%;
         padding: 10px;
         border: 1px solid black;
         border-radius: 5px;
     }
        
    input ::placeholder{
         padding: 15px;
        }

    .outer-headings{
        margin-top: 10%;
    }
    .outer-headings h1 {
         font-size: 5em;
         line-height: 130px;
        }
             
    .inner-headings {
         font-size: 60px;
        }
            
    .hero-img{
        margin-left: -1%;
        }

    .page2 h1{
         margin-top: 1%;
         font-size: 2.5em;
        }
    .pro_card{
         height: 20%;
         width: 25%;
        }
 
    .register-form h2{
        font-size: 40px;
    }
     .register-form {
        margin: 0px auto;
        padding: 10px;
        border-radius: 0px;
      }
    .register-form label {
        margin-bottom: 10px;
        font-size: 25px;
      }
      
    .register-form input, .register-form select {
        padding: 25px;
        width: 100%;
      }
      
    .register-form input, .register-form select ::placeholder{
        font-size: 25px;
      }
      .register-form button[type="submit"] {
        padding: 15px 25px;
        font-size: 30px;
    }
    .up-container {
        font-size: 13px;
    }
    label {
       font-size: 25px;
    }
    
    button {
        padding: 20px 25px;
        font-size: 20px;
    }

    /*signup*/
    .inner-box{
        width: 850px;
        height: 80vh;
    }
    
    .signup-header{
        font-size: 2rem;
    }
    .signup-body p input{
        width: 90%;
        padding: 20px;
        font-size: 0.8rem;
    }
    .signup-body p label{
        font-size: 1em;
    }
    .signup-body p input[type="submit"]{
        font-size: 1em;
        width: 100%;
    }
    .signup-footer p{
        font-size: 20px;
    }
    
    .signup-footer p a{
        font-size: 20px;
    }

    
    .login-inner-box{
        width: 850px;
        height: 80vh;
    }
    .login-header{
        font-size: 1rem;
    }
    
    .login-body p{
        margin: 40px 0;
    }
    .login-body p label{
        font-size: 1em;
    }
    
    .login-body p input{
        width: 90%;
        padding: 10px;
        font-size: 1rem;
    }
    
    .login-body p input[type="submit"]{
        width: 100%;
        font-size: 1em;
    }
    
    .login-footer p a{
        color: #2172a8;
        font-size: 20px;
    }
    
    
    .forget-inner-box{
        width: 850px;
        height: 80vh;
    }
    
    .forget-body{
        margin: 30px 0;
    }
    
    .forget-body p{
        margin: 20px 0;
    }
    
    .forget-body p label{
       font-size: 1em;
    }
    
    .forget-body p input{
        width: 90%;
        padding: 10px;
        font-size: 1rem;
    }
    
    .forget-body p input[type="submit"]{
      width: 100%;
    }

    /*upload page*/

    form {
        padding: 30px;
    }
    
    label {
        font-size: 1.3em;
    }
    
    button {
        padding: 13px 18px;
        font-size: 1.3em;
    }

    /*about page*/
    .about h1{
        width: 20%;
        font-size: 30px;
    }
    .about h2{
        font-size: 2em;
    }
    .about p{
        font-size: 20px;
        line-height: 38px;
    }
    .team p{
        font-size: 20px;

    }
    .team ul li{
        font-size: 20px;
        line-height: 38px;
    }
       
    .links i{
        font-size: 15px;
        margin-left: -80%;
    }
    .row h2{
        font-size: 20px;
    }
    .row ul li a{
        font-size: 15px;
    }
    .row .social-icons img{
        height: 35%;
        width: 8%;
    }
}









